In [0]:
import pandas as pd
import numpy as np

In [0]:
url = "https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson01/RadNet_Laboratory_Analysis.csv"
df = pd.read_csv(url)

In [0]:
columns = df.columns
id_cols = ['State', 'Location', "Date Posted", 'Date Collected', 'Sample Type', 'Unit']
columns = list(set(columns) - set(id_cols))
columns

['Cs-136',
 'I-133',
 'I-132',
 'Ba-140.1',
 'Te-129',
 'Te-132',
 'Ba-140',
 'Cs-134',
 'Co-60',
 'Cs-137',
 'I-131',
 'Te-129m']

In [0]:
df['Cs-134'] = df['Cs-134'].apply(lambda x: np.nan if x == "Non-detect" else x)
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN

In [0]:
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'Non-detect' else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'ND' else x)

In [0]:
df.loc[:, ['State', 'Location', 'Sample Type', 'Unit']] = df.loc[:, ['State', 'Location', 'Sample Type', 'Unit']].applymap(lambda x: x.strip())

In [0]:
df.dtypes

State              object
Location           object
Date Posted        object
Date Collected     object
Sample Type        object
Unit               object
Ba-140            float64
Co-60             float64
Cs-134              int64
Cs-136            float64
Cs-137              int64
I-131               int64
I-132               int64
I-133             float64
Te-129            float64
Te-129m           float64
Te-132              int64
Ba-140.1          float64
dtype: object

In [0]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])
for col in columns:
    df[col] = pd.to_numeric(df[col])
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object

In [0]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])
for col in columns:
    df[col] = pd.to_numeric(df[col])
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                     int64
Cs-136                   float64
Cs-137                     int64
I-131                      int64
I-132                      int64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                     int64
Ba-140.1                 float64
dtype: object